
/*---------------------------------------------------- KANBAN ----------------------------------------------*/


.contenedor {
	background-color: #63bafa;
	border: 2px solid blue;
	display: table;
	display: flex;
	width: 80%;
	height: auto;
	margin-left: 10%;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.principio {
	border: 1px solid #0a80f5;
	width: 20%;
	display: flex;
	flex-direction: column;
}

.fin {
	border: 1px solid #0a80f5;
	width: 20%;
}

.contenedorFinal {
	max-height: 500px;
	height: 500px;
	padding: 40px;
	overflow-x: hidden;
	overflow-y: scroll;
}


/*---------------------------------------------------- FASES ----------------------------------------------*/


.faseName {
	border: 1px solid #35a6f9;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-height: 550.8px;
	text-align: center;
	overflow: hidden;
}
.faseName > div:not(.titulo){
	overflow-y: auto;
}

.subfase {
	color: black;
	text-shadow: 0.1px 1px 0.5px;
	background-color: #63bafa;
	display: flex;
	justify-content: space-around;
}

.subSubfase {
	color: white;
	text-shadow: 0.1px 1px 0.5px #aebabd;
	font-size: 130%;
	table-layout: fixed;
}

.fase {
	width: 100%;
	display: flex;
}

.titulo, .tituloInit, .tituloEnd {
	text-shadow: 0.1px 1px 0.5px;
	font-size: 120%;
	background-color: white;
	color: blue;
	text-align: center;
	padding-bottom: 10px;
}

.titulo.barra, .tituloInit.barra, .tituloEnd.barra {
	background-color: transparent;
}

.titulo {
	cursor: pointer !important;
}


/*---------------------------------------------------- TAREAS ----------------------------------------------*/


.tareas {
	color: black;
	background-color: white;
	border: 1px solid blue;
	font-size: 120%;
	margin-top: 10%;
	text-align: center;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-shadow: 0.1px 0.5px 0.5px;
}

.contenedorTareas {
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin-right: 20%;
	margin-left: 10%;
	/* Limite Tareas */
	max-height: 500px;
	height: 500px;
	overflow: hidden;
}

p.estado {
	margin-top: -15px;
	margin-bottom: -1px;
}

.div-head {
	text-align: center;
	font-weight: bold;
	border-right: 1px solid;
}

.task {
	border: 1px solid lightblue;
	background-color: lightblue;
	padding: auto;
	font-weight: normal
}

.modUserPhaseCheck, .addUserPhaseCheck, input[type='radio'] {
	display: inline;
	margin-left: 15px;
}

input[type='radio'] {
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 5px;
}

.divSkill {
	display: inline;
	margin-left: 15px;
}

.skillInput {
	display: inline;
	margin-left: 15px;
}


/*---------------------------------------------------- TITULOS ----------------------------------------------*/


.texto {
	text-shadow: 3px 2px 5px #011cd6;
	color: #0f45c4;
	font-size: 500%;
	text-align: center;
	margin-top: -10px;
}


/*---------------------------------------------------- BOTONES ----------------------------------------------*/


button {
	outline: none !important;
}

.playpause label {
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 74px;
	cursor: pointer;
	border-color: transparent transparent transparent #202020;
	transition: 100ms all ease;
	will-change: border-width;
	/* Play state */
	border-style: solid;
	border-width: 37px 0 37px 60px;
}

.playpause input[type='checkbox'] {
	visibility: hidden;
}

.playpause input[type='checkbox']:checked+label {
	/* Pause state */
	border-style: double;
	border-width: 0px 0 0px 60px;
}

#deleteAll {
	color: black;
	margin-left: 10px;
}

#deleteAll:hover {
	color: #004a00;
	margin-left: 10px;
}

#reset, #deleteAll, #divDeleteTasks, #addUser {
	cursor: pointer;
}

.botonesContainer {
	border: 2px solid #69c9fc;
	background-color: #7acefc;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 30%;
	margin-left: 45%;
	width: 11%;
	height: auto;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 10px;
}

.botonesContainer1 {
	color: #a6d9ff;
	margin-top: 10px;
	/* background-color: #63bafa;
	background-image: linear-gradient(#63bafa, white);  */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#deleteButtons>div {
	cursor: pointer;
}

.doubleButton {
	display: flex;
	flex-direction: row;
}

.doubleButton #divDeleteTasks {
	color: black;
	margin-left: 30px;
}

.doubleButton #divDeleteTasks:hover {
	color: #970000;
	margin-left: 30px;
}

.resultbutt, .doubleButton>button {
	background-color: transparent;
	border: transparent;
	width: 5%;
	text-align: center;
	padding: 10px;
	margin-right: 10px;
}

.resultbutt:hover {
	cursor: pointer;
	color: #000091;
}

.resultbutt:disabled, .doubleButton>button:disabled, #addUser:disabled {
	opacity: 0.3;
	cursor: default;
}

#addUser, #addTask {
	background-color: transparent;
	border: transparent;
}

#addUser:hover {
	color: olive;
}

#addTask {
	position: absolute;
	margin-left: 5%;
	margin-top: 2%;
}

#addTask:active {
	transform: translate(1px, 2px);
}


/*---------------------------------------------------- RESULTADOS ----------------------------------------------*/


.mostrarResultadosDiv {
	justify-content: space-around;
	display: flex;
	text-align: center;
	flex-direction: column;
	background-color: #63bafa;
	color: white;
	text-shadow: 0.1px 1px 10px blue;
	font-size: 120%;
	border: 1px solid blue;
	display: table;
	display: flex;
	width: 80%;
	height: auto;
	margin-left: 10%;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.tareaResultado, .faseResultado, .ResultadoUsuario{
	padding: 10px;
	color: black;
	margin-top: 2%;
	margin-bottom: 1%;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: space-around;
	text-shadow: 0.1px 0.1px 0.2px black;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.tareaResultadoDiv, .faseResultadoDiv {
	border-top: 1px solid blue;
	padding: 20px;
}

.th {
	display: flex;
	flex-direction: column;
}

.stados {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.userResultadoDiv {
	border-top: 1px solid blue;
	padding: 20px;
}

.userResultado {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: black;
	margin-top: 2%;
	margin-bottom: 1%;
	background-color: white;
	text-align: left;
	text-shadow: 0.1px 0.1px 0.2px black;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.userResultado p {
	margin-top: 5px;
}

.userCaja {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0
		rgba(0, 0, 0, 0.19);
}

.ResultadoUsuario {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.userResultName {
	margin-left: 50px;
	border: 3px solid blue;
	height: auto;
	width: 50%;
	border-radius: 64px;
	align-items: center;
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.divAssigned {
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: white;
	color: black;
	text-shadow: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.asignados {
	text-align: center;
}


/*---------------------------------------------------- USUARIOS ----------------------------------------------*/


.usersContainer {
	background-color: #e8eeff;
	background-image: linear-gradient(0deg, #e8eeff, white);
	padding: 13px;
	display: flex;
	height: auto;
	flex-direction: row;
	justify-content: space-around;
}

.userName {
	text-align: center;
	border: 3px solid blue;
	width: 6.5%;
	height: auto;
	border-radius: 64px;
	padding: 20px;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

fieldset.teamField {
	border: 1px groove #ddd !important;
}

legend.teamField {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}