/*---------------------------------------------------- KANBAN ----------------------------------------------*/
.contenedor {
	background-color: #63bafa;
	border: 2px solid blue;
	display: table;
	display: flex;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-bottom: 1%;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.principio {
	border: 1px solid #0a80f5;
	width: 20%;
	max-width: 20%;
	display: flex;
	flex-direction: column;
}

.fin {
	border: 1px solid #0a80f5;
	width: 20%;
}

.contenedorFinal {
	max-height: 500px;
	height: 500px;
	padding: 40px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#faseDiv {
	width: 70%;
	min-width: 70%;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

.contenedor:after {
	content: url(../img/slide.png);
	opacity: 0.2;
	filter: alpha(opacity = 20); /* For IE8 and earlier */
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 500px;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.headerTable{
	/* border: 1px solid red;
	background-color: #ffd7d7; */
	width: 80%;
	height: auto;
	margin-left: 10%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 5px;
}


/*---------------------------------------------------- FASES ----------------------------------------------*/
.faseName {
	border: 1px solid #35a6f9;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-height: 550.8px;
	min-width: 138.5px;
	text-align: center;
	overflow: hidden;
}

.faseName>div:not (.titulo ){
	overflow-y: auto;
}

.subfase {
	color: black;
	text-shadow: 0.1px 1px 0.5px;
	background-color: #63bafa;
	display: flex;
	justify-content: space-around;
}

.subSubfase {
	color: white;
	text-shadow: 0.1px 1px 0.5px #aebabd;
	font-size: 130%;
	table-layout: fixed;
}

.fase {
	width: 100%;
	display: flex;
}

.titulo, .tituloInit, .tituloEnd {
	text-shadow: 0.1px 1px 0.5px;
	font-size: 120%;
	background-color: white;
	color: blue;
	text-align: center;
	padding-bottom: 10px;
}

.titulo.barra, .tituloInit.barra, .tituloEnd.barra {
	background-color: transparent;
}

.titulo {
	cursor: pointer !important;
}
/* ICONO EDITAR TITULO */
.titulo::before {
	content: "\f044";
	font-family: "Font Awesome 5 Free";
	margin-right: 3px;
}

/*---------------------------------------------------- TAREAS ----------------------------------------------*/
.tareas {
	color: black;
	background-color: white;
	border: 1px solid blue;
	font-size: 120%;
	margin-top: 10%;
	text-align: center;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-shadow: 0.1px 0.5px 0.5px;
}

.contenedorTareas {
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin-right: 20%;
	margin-left: 10%;
	/* Limite Tareas */
	max-height: 500px;
	height: 500px;
	overflow: hidden;
}

p.estado {
	margin-top: -15px;
	margin-bottom: -1px;
}

.div-head {
	text-align: center;
	font-weight: bold;
	border-right: 1px solid;
}

.task {
	border: 1px solid lightblue;
	background-color: lightblue;
	padding: auto;
	font-weight: normal
}

.modUserPhaseCheck, .addUserPhaseCheck {
	display: inline;
	margin-left: 15px;
}

.divSkill {
	display: inline;
	margin-left: 15px;
}

.skillInput {
	display: inline;
	margin-left: 15px;
}

/*---------------------------------------------------- TITULO ----------------------------------------------*/
.texto {
	text-shadow: 3px 2px 5px #011cd6;
	color: #0f45c4;
	font-size: 400%;
	text-align: center;
	margin-top: 10px;
	width: 50%;
	margin-left: 25%;
	height: auto;
	margin-bottom: -30px;
}

/*---------------------------------------------------- BOTONES ----------------------------------------------*/
button {
	outline: none !important;
}

.playpause input[type='checkbox'] {
	display: none;
}

.playpause input[type='checkbox']+label {
	display: inline;
	cursor: pointer;
}

.playpause input[type="checkbox"]:checked+label i {
	color: crimson;
}

/* NO SELECT ON CHECKBOX*/
input[type="checkbox"]:focus {
	outline: none;
}

#delete {
	color: black;
}

#delete:hover {
	color: #004a00;
}

#reset, #deleteAll, #divDeleteTasks, #addUser, #backward, #forward {
	cursor: pointer;
}

/* SOBRESATURACION */
#saturacion, #saturacion2{
	color:red;
	visibility: visible;
	transition: 1s ease;
	font-size: 115%;
}

#saturacion:hover, #saturacion2:hover{
	padding-right: 140px;
}

.sobresaturacion{
	font-size:115%;
}

.botonesContainer {
	border: 1px solid #1cadfb;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 20%;
	/* margin-left: 40.2%; */
	width: 27%;
	height: auto;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
	padding-left: 27px;
	padding-right: 8px;
	/* margin-top: 10px;
	margin-bottom: 10px; */
	flex-wrap: wrap;
}

.playAndReset {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}

.rewindAndForward {
	margin-right: 10%;
}

.playpause {
	margin-left: 30%;
}

.botonesContainer1 {
	color: #a6d9ff;
	height: auto;
	font-size: 20px;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	overflow-x: hidden;
	margin-top: 20%;
	background-color: #ececec;
	box-shadow: 0 0 15px 1px #b8b8b8;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	max-height: 380px;
}

.doubleButton>button, #doubleButton>button {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	width: 0;
	margin: 20px 45px;
	text-align: justify;
}

#deleteButtons>div {
	cursor: pointer;
}

#arrow {
	color: black;
	background-color: #999999;
	font-size: 30px;
	cursor: pointer;
	padding: 95% 0;
	border: 1px solid darkblue;
	border-radius: 10px;
	box-shadow: inset 0 0 7px 2px lightblue;
}

.resultbutt, .doubleButton>button, #doubleButton>button, #forward,
	#backward {
	background-color: transparent;
	border: transparent;
}

.resultbutt:hover {
	cursor: pointer;
	color: #000091;
}

.resultbutt:disabled, .doubleButton>button:disabled, #addUser:disabled,
	#forward:disabled, #backward:disabled {
	opacity: 0.3;
	cursor: default;
}

#addUser, #addTask {
	background-color: transparent;
	border: transparent;
}

#addUser:hover {
	color: olive;
}

#addTask {
	position: absolute;
	margin-left: 5%;
	margin-top: 2%;
}

#addTask:active {
	transform: translate(1px, 2px);
}

#info {
	cursor: pointer;
}

#infoIcon:hover {
	color: silver;
}

/* FORWARD & BACKWARD BUTTONS , MULTIPLIER */
#multiplicador {
	font-size: 26px;
	font-weight: bolder;
	color: grey;
}

.leftPlay {
	margin-left: 3%;
}
/*---------------------------------------------------- RESULTADOS ----------------------------------------------*/
.mostrarResultadosDiv {
	justify-content: space-around;
	display: flex;
	text-align: center;
	flex-direction: column;
	background-color: #63bafa;
	color: white;
	text-shadow: 0.1px 1px 10px blue;
	font-size: 120%;
	border: 1px solid blue;
	display: table;
	display: flex;
	width: 80%;
	height: auto;
	margin-left: 10%;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.mostrarGraficosDiv {
	justify-content: space-around;
	display: flex;
	text-align: center;
	flex-direction: column;
	background-color: #63bafa;
	color: black;
	text-shadow: 0.1px 1px 5px grey;
	font-size: 120%;
	display: table;
	display: flex;
	width: 95%;
	height: auto;
	margin-left: 3%;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.tareaResultado, .faseResultado, .ResultadoUsuario {
	padding: 10px;
	color: black;
	margin-top: 2%;
	margin-bottom: 1%;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: space-around;
	text-shadow: 0.1px 0.1px 0.2px black;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.faseResultado {
	overflow-x: scroll;
	width: 100%
}

.tareaResultadoDiv, .faseResultadoDiv {
	border-top: 1px solid blue;
	padding: 20px;
}

.faseResultado {
	overflow-x: auto;
}

.th {
	display: flex;
	flex-direction: column;
}

.stados {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.userResultadoDiv {
	border-top: 1px solid blue;
	padding: 20px;
}

.userResultado {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: black;
	margin-top: 2%;
	margin-bottom: 1%;
	background-color: white;
	text-align: left;
	text-shadow: 0.1px 0.1px 0.2px black;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.userResultado p {
	margin-top: 5px;
}

.userCaja {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0
		rgba(0, 0, 0, 0.19);
}

.ResultadoUsuario {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.userResultName {
	margin-left: 50px;
	border: 3px solid blue;
	height: auto;
	width: 50%;
	border-radius: 64px;
	align-items: center;
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.asignados {
	text-align: center;
}

/*---------------------------------------------------- USUARIOS ----------------------------------------------*/
.usersContainer {
	background-color: #e8eeff;
	background-image: linear-gradient(white, #f0f5ff, white);
	padding: 13px;
	display: flex;
	height: auto;
	flex-direction: row;
	justify-content: space-around;
}

.userName {
	text-align: center;
	border: 3px solid blue;
	width: 6.5%;
	height: auto;
	border-radius: 64px;
	padding: 20px;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

teamField {
	width: auto;
	height: auto;
}

legend.teamField {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}

i {
	font-size: 2.5em;
}

.userName  p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*---------------------------------------------------MEDIA QUERYS------------------------------------------------------------*/
@media screen and (max-width: 1450px) {
	#saturacion, #saturacion2 {
		visibility: hidden;
	}
	.botonesContainer {
		width: 17%;
		height: auto;
		margin-left: 39% !important;
	}
	.playAndReset {
		margin-left: 26%;
		margin-top: 1%;
	}
	.rewindAndForward {
		margin-left: 14%;
	}
}

@media screen and (max-width: 1260px) {
	.botonesContainer {
		width: 23%;
		height: auto;
		margin-left: 37% !important;
	}
}

@media screen and (max-width: 375px) {
	.botonesContainer {
		width: 45% !important;
		height: 10%;
		margin-left: 30% !important;
	}
	.clock {
		margin-right: 5% !important;
	}
	.crono {
		margin-left: 5% !important;
	}
	.clock, .crono {
		margin-top: 10%;
	}
}

@media screen and (max-width: 755px) {
	.botonesContainer {
		width: 34%;
		height: auto;
		margin-left: 35% !important;
	}
	.clock {
		margin-right: 5% !important;
	}
	.crono {
		margin-left: 5% !important;
	}
}

@media screen and (max-width: 1694px) {
	i, #multiplicador {
		font-size: 2em;
	}
	.doubleButton>button, #doubleButton>button {
		margin: 25px 45px !important;
	}
}

@media screen and (max-width: 950px) {
	.texto {
		display: none;
	}
	.clock, .crono {
		width: 50px;
		height: 40px;
		font-size: 50% !important;
		padding-top: 7px;
		padding-right: 3px;
	}
}