.start {
	margin-top: 10%;
	margin-left: 45%;
}

header {
	background-color: #0069d2;
	color: white;
	font-size: 120%;
	text-align: center;
}

/* Modal Forms */
label, input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

/* Add and Remove buttons for specializations */
#addSpec, #rmvSpec {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
}

/* Kanban */
.div-head {
	text-align: center;
	font-weight: bold;
	border-right: 1px solid;
}

.task {
	border: 1px solid lightblue;
	background-color: lightblue;
	padding: auto;
	font-weight: normal
}

.userSpecCheck{
	display: inline;
	margin-left: 15px;
}