.start {
	margin-top: 10%;
	margin-left: 45%;
}

header {
	background-color: #0069d2;
	color: white;
	font-size: 120%;
	text-align: center;
}

/* Modal Forms */
label, input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

/* Kanban */
.div-head {
	text-align: center;
	font-weight: bold;
	border-right: 1px solid;
}

.task {
	border: 1px solid lightblue;
	background-color: lightblue;
	padding: auto;
	font-weight: normal
}

.userPhaseCheck {
	display: inline;
	margin-left: 15px;
}

/* Spin animation reset Button */
div#divReset:hover {
	-webkit-animation-name: spin 2000ms 1 linear; /* Safari */
	-moz-animation-name: spin 2000ms 1 linear; /* Mozilla */
	-ms-animation-name: spin 2000ms 1 linear; /* Explorer */
	animation-name: spin 2000ms 1 linear;
}

@
keyframes spin {from { transform:rotate(0deg);
	
}

to {
	transform: rotate(360deg);
}
}