html {
	overflow-x: hidden !important;
}
/* No select */
body {
	webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.start {
	margin-top: 10%;
	margin-left: 45%;
}

header {
	background-color: #0069d2;
	color: white;
	font-size: 120%;
	text-align: center;
	box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #63bafa;
}

/* Spin animation reset Button */
div #reset:hover {
	-webkit-animation-name: spin; /* Safari */
	-webkit-animation-duration: 1000ms; /* Safari */
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin; /* Mozilla */
	-moz-animation-duration: 1000ms; /* Mozilla */
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin; /* Explorer */
	-ms-animation-duration: 1000ms; /* Explorer */
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes spin {
	from { transform:rotate(0deg);}
	to {transform: rotate(360deg);}
}
.img-edit {
	z-index: -1;
}



/* FORMS */

label, input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

#modSkillsUser>p {
	margin-bottom: 2px;
	padding-top: 2%;
}
.form-control[type=color] {
	height: auto;
}

.form-control[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
	margin: 0;
}

.form-control[type=color]:-moz-color-swatch-wrapper {
	padding: 0;
	margin: 0;
}

.form-control[type=color]:-ms-color-swatch-wrapper {
	padding: 0;
	margin: 0;
}

.form-control[type=color][list="presetColors"]::-webkit-color-swatch-wrapper
	{
	padding: .5rem .75rem;
}

.form-control[type=color][list="presetColors"]:-moz-color-swatch-wrapper
	{
	padding: .5rem .75rem;
}

.form-control[type=color][list="presetColors"]:-ms-color-swatch-wrapper
	{
	padding: .5rem .75rem;
}

.form-control[type=color]::-webkit-color-swatch {
	height: 22px;
	padding: 0;
	margin: 0;
}

.form-control[type=color]::-moz-color-swatch {
	height: 22px;
	padding: 0;
	margin: 0;
}

.form-control[type=color]:-ms-color-swatch {
	height: 22px;
	padding: 0;
	margin: 0;
}
.legUser{
	margin-top: -38px;
	margin-bottom: -38px;
	margin-right:15px; 
	background-color: white;
}

/* TEMPORIZADOR */
#chronoViewer{
	font-weight:bold;
	font-size: 30px;
	position: absolute;
	margin-left: 12%;
	margin-top: 3%;
}